BasedOnStyle: LLVM
Language: Cpp
Standard: c++11
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

# Braces & Control Flow
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# Alignment
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
AlignOperands: Align

# Pointer & Spacing
PointerAlignment: Right
SpacesBeforeTrailingComments: 2
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
